[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ptairMS"]
	path = ptairMS
	url = https://github.com/camilleroquencourt/ptairms
	shallow = true
	registered = true
